body{
    font-family: 'Poppins', sans-serif;
}
/* -------first-section styles----- */
.first-section{
    display:flex;
    height: 677px;
    width: 1440px;
 
    background-color: rgb(84, 37, 172);

}
.half-width{
    height: 230px;
    width: 485px;
    margin-left: 156px;
    margin-top: 205px;
    border-radius: nullpx;

}
#font{
    font-size: 64px;
    color: white;
    line-height: 30px;
    font-weight: 700px;

}
.half-width img{
    Width:402px;
    Height:411px:

}
.first-section:hover .half-width img{
    transform: scale(1.3);
}
.link-button{
    text-decoration: none;
    background-color: rgb(248, 56, 200);
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}

  

/* ------second - section styles-------- */
 
.container{
    display: flex;
    width: 1050px;
    height: 474px;
    margin-top: 24px;
    margin-bottom: 20%;
}
.photo-album{
    margin-left: 115px;
}


.photo-album img{
    width: 330px;
    height: 400px;
}

/*-----third section styles----- */
.third-section{
    display: flex;
    margin-left: 182px;
}
.bold{
    font-size: 30px;
    font-weight: 700px;
}
.photo{
    width: 466px;
    height:309px;
}
.third-section:hover .photo img{
    transform: scale(1.3);
}
.photo img{
    width: 567px;
    height: 427px;
}

/* -----footer section style-------- */
.footer{
    width:483.87px ;
    height: 213px;
    margin-top: 15%;
    margin-left: 475px;
}

.footer img{
    width: 483.87px;
    height: 213px;
}

